<h1 class="start">Draft Your Players</h1>
<h3 class="start">(Pick 1 Player From Each Position)</h3>
<h3 style = "margin-left: 25px;">Start by picking a Point Guard and pressing "Add Player", then move on to the next position.</h3>


<%= render "form" %>
