<h1 style="font-family:fantasy">Welcome to the finest NBA game simulator on the market!</h1>

<div class="page">

  <div class="welc-message">
    <p>Start off by signing up for an account, or logging into your existing account below.</p>
    <p>After logging in, you will need to create a team! Choose your Team Name and Location(city)</p>
    <p>then continue to the next page to choose your lineup! On the lineup selector page you will see</p>
    <p>5 different positions available to choose from. Choose one player from each position, and once</p>
    <p>you have selected a total of 5 players you will be redirected to your team's home page. Remember</p>
    <p>to choose wisely because the better your players, the better chance you have of winning a game!</p>
    <p>From your team's home page, you are able to simulate playing a game of basketball against a</p>
    <p>team of your choosing, and then compare your overall record to the records of all the other users</p>
    <p>who have created teams on our website. Enjoy, and have fun!</p>
    <br>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Sincerely,</p>
    <p>The B-Cryp Development Team</p>
  </div>

</div>
