
  <div class="container">

    <h1 style="text-align:center;">Your Teams:</h1>

    <h2>
      <ol>
        <% @teams.each do |team| %>
          <li>
            <%= link_to "#{team.name}", team %>
            <%= button_to("Delete Team", team, method: :delete, :id => "delete") %>
          </li>
        <% end %>
      </ol>
    </h2>
    <%= button_to "Create A Team", new_home_team_path, method: :get %>
  </div>
