/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   background: url("https://images.wallpaperscraft.com/image/basketball_ring_basketball_net_minimalist_128381_3840x2160.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 .head {
   font-size: 70px;
   margin: 0em;
   padding: 0em;
   text-align: center;
   font-family: fantasy;
 }

 .start {
  margin-left: 15%;
 }

 header h1{
     text-align: center;
     color: black;
     text-decoration: bold;
 }

 .form {
    border: 2px black solid;
    align-content: center;
    width: 30%;
    margin: auto;
 }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 nav {
   display: flex;
   justify-content: space-between;
   background-color: #333;
   font-family: cursive;
   font-size: 25px;
 }

 .right {
   padding: 15px 40px;
   color: white;

 }

 nav li {
    float: left;
 }

 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 nav li a:hover {
    background-color: #111;
 }

 .active {
   background-color: #65bec6;
 }

 a {
   color: @linkBlue;
   display: inline-block;
   position: relative;
   text-decoration: none;
   &:before {
     background-color: @linkBlue;
     content: '';
     height: 2px;
     position: absolute;
     bottom: -1px;
     left: 50%;
     transform: translateX(-50%);
     transition: width 0.3s ease-in-out;
     width: 100%;
   }
   &:hover {
     &:before {
        width: 0;
     }
   }
 }


 footer {
   font-size: 40px;
   position:fixed;
   float: none;
   bottom:0;
   width:100%;
   height:43px;
   background:#eee;
   display: flex;
   justify-content: space-between;

}

.right {
  float: right;
}


.lineup {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-left: 20px;
  font-size: 175%;
}

.lineup td, .lineup th {
  border: 1px solid #ddd;
  padding: 8px;
}

.lineup tr:nth-child(even){background-color: #f2f2f2;}

.lineup tr:hover {background-color: #ddd;}

.lineup th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}





input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 20%;
  margin: 20px;
}

#delete {
  background-color: red;
}

.team {
  margin: 20px;

}

.pick-players1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.pick-players2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.collect {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #00000;
    background-clip: padding-box;
    border: 1px solid #65bec6;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.flex {
  display: flex;
  justify-content: space-between;
}

#rei {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-left: 20px;
}


.leaderboard {
  float: right;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-right: 20px;
  font-size: 175%;
}

.leaderboard td, .leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

.leaderboard tr:nth-child(even){background-color: #f2f2f2;}

.leaderboard tr:hover {background-color: #ddd;}

.leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.logo {
  display: flex;
  justify-content: space-between;
}

#hide {
  visibility: hidden;
}

.welc-message {
  font-family: fantasy;
  font-size: 15px;
  margin-left: 3%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  margin: 20px;
}

.win {
  border: dotted;
  border-width: thick;
  text-decoration: bold;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  background-color: grey;
  border-color: green;
  border-radius: 5px;
  color: #green;
  height: auto;
  width: 40%;
  padding: 10px;
  margin: 20px;
}

.lose {
  border: dotted;
  border-width: thick;
  text-decoration: bold;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  background-color: grey;
  border-color: red;
  border-radius: 5px;
  color: #green;
  height: auto;
  width: 40%;
  padding: 10px;
  margin: 20px;
}
