/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   background: url("https://images.wallpaperscraft.com/image/basketball_ring_basketball_net_minimalist_128381_3840x2160.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 .head {
   font-size: 70px;
   margin: 0em;
   padding: 0em;
   text-align: center;
   font-family: fantasy;
 }

 header h1{
     text-align: center;
     color: black;
     text-decoration: bold;
 }

 .form {
    border: 2px black solid;
    align-content: center;
    width: 30%;
    margin: auto;
 }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 nav {
   display: flex;
   justify-content: space-between;
   background-color: #333;
   font-family: cursive;
   font-size: 25px;
 }

 .right {
   padding: 15px 40px;
   color: white;

 }

 nav li {
    float: left;
 }

 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 nav li a:hover {
    background-color: #111;
 }

 .active {
   background-color: #65bec6;
 }

 a {
   color: @linkBlue;
   display: inline-block;
   position: relative;
   text-decoration: none;
   &:before {
     background-color: @linkBlue;
     content: '';
     height: 2px;
     position: absolute;
     bottom: -1px;
     left: 50%;
     transform: translateX(-50%);
     transition: width 0.3s ease-in-out;
     width: 100%;
   }
   &:hover {
     &:before {
        width: 0;
     }
   }
 }

 footer {
   font-size: 40px;
   position:absolute;
   bottom:0;
   width:100%;
   height:43px;
   background:#eee;
   display: flex;
   justify-content: space-between;
}

.right {
  float: right;
}


.lineup {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-left: 20px;
  font-size: 175%;
}

.lineup td, .lineup th {
  border: 1px solid #ddd;
  padding: 8px;
}

.lineup tr:nth-child(even){background-color: #f2f2f2;}

.lineup tr:hover {background-color: #ddd;}

.lineup th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}
